html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0.25em;
}

h2 {
    font-size: 2em;
    margin: 0.25em;
}
